@page "/"

<div class="uk-margin">
    
</div>
<div class="uk-margin">
    <div class="uk-inline uk-width-1-1">
        <button class="uk-form-icon uk-form-icon-flip" uk-icon="icon: plus-circle" @onclick='AddNewTask'></button>
        <input class="uk-input uk-form-large uk-width-1-1" placeholder="Nova da tarefa" @bind="newTodo" />
    </div>
</div>

<hr>

<ul class="uk-list uk-list-divider uk-list-large">
    @foreach (var item in todos)
    {
        <li>
            <label>
                <input class="uk-checkbox" type="checkbox" @bind="item.IsDone" /> @item.Title
            </label>
        </li>
    }
</ul>

@code {
    public class TodoItem
    {
        public string Title { get; set; }
        public bool IsDone { get; set; }
    }

    private string newTodo = "";
    private List<TodoItem> todos = new List<TodoItem>();

    void AddNewTask()
    {
        if(!string.IsNullOrWhiteSpace(newTodo)){
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = "";
        }
    }
}
