@inherits LayoutComponentBase

<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo">Blazor</a>
    </div>
</nav>

<div class="uk-container">
    @Body
</div>